################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.pdb
*.exp
*.obj
*.lib
*.exe
*.pri
*.pdb
*.log
*.tlog
/glTF-Sample-Models-master
/glTF-SDK-master
/COLLADA2GLTF


/LandXML2glTF/LandXML2glTFDll/bin/x64/Debug/LandXML2glTFDllD.dll
/LandXML2glTF/LandXML2glTFDll/bin/x64/Debug/LandXML2glTFDllD.pdb
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDllD.ilk
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/vc143.idb
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/embed/embed.resfiles
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/embed/embed.resfiles.intermediate
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.tlog/CL.command.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.tlog/CL.read.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.tlog/CL.write.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.tlog/unsuccessfulbuild
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/excluded.layout.resfiles
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/excluded.layout.resfiles.intermediate
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/filtered.layout.resfiles
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/filtered.layout.resfiles.intermediate
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.dll.recipe
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.iobj
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.ipdb
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.vcxproj.FileListAbsolute.txt
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/MultipleQualifiersPerDimensionFound.txt
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/pri.resfiles
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/pri.resfiles.intermediate
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/priconfig.xml
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/priconfig.xml.intermediate
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/qualifiers.txt
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/qualifiers.txt.intermediate
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/resources.resfiles
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/resources.resfiles.intermediate
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/unfiltered.layout.resfiles
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/unfiltered.layout.resfiles.intermediate
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/vc143.pdb
/LandXML2glTF/LXML2glTF/bin/x64/Debug/LandXML2glTFDllD.dll
/LandXML2glTF/LXML2glTF/bin/x64/Debug/LXML2glTF.exe
/LandXML2glTF/LXML2glTF/bin/x64/Debug/LXML2glTF.pdb
/LandXML2glTF/LXML2glTF/int/x64/Release/LXML2glTF.exe.recipe
/LandXML2glTF/LXML2glTF/int/x64/Release/LXML2glTF.iobj
/LandXML2glTF/LXML2glTF/int/x64/Release/LXML2glTF.ipdb
/LandXML2glTF/LXML2glTF/int/x64/Debug/LXML2glTF.tlog/link.read.1.tlog
/LandXML2glTF/LXML2glTF/int/x64/Debug/LXML2glTF.exe.recipe
/LandXML2glTF/LXML2glTF/int/x64/Debug/LXML2glTF.ilk
/LandXML2glTF/LXML2glTF/int/x64/Debug/LXML2glTF.vcxproj.FileListAbsolute.txt
/LandXML2glTF/LXML2glTF/int/x64/Debug/vc143.idb
/LandXML2glTF/.vs/LandXML2glTF
/LandXML2glTF/LandXML2glTFDll/bin/x64/Debug/LandXML2glTFDllD.dll
/LandXML2glTF/LandXML2glTFDll/bin/x64/Debug/LandXML2glTFDllD.exp
/LandXML2glTF/LandXML2glTFDll/bin/x64/Debug/LandXML2glTFDllD.lib
/LandXML2glTF/LandXML2glTFDll/bin/x64/Debug/LandXML2glTFDllD.pdb
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/CL.command.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/Cl.items.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/CL.read.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/CL.write.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/LandXML2glTFDll.read.1u.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/LandXML2glTFDll.write.1u.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/link.command.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/link.read.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/link.write.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.tlog/CL.command.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.tlog/CL.read.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.tlog/CL.write.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.tlog/unsuccessfulbuild
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/vc143.pdb
/LandXML2glTF/LXML2glTF/bin/x64/Debug/LandXML2glTFDllD.dll
/LandXML2glTF/LXML2glTF/bin/x64/Debug/LXML2glTF.exe
/LandXML2glTF/LXML2glTF/bin/x64/Debug/LXML2glTF.pdb
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug
/LandXML2glTF/LXML2glTF/int/x64/Release
/LandXML2glTF/LXML2glTF/bin/x64
/LandXML2glTF/XCopyFiles/x64/Debug
/LandXML2glTF/XCopyFiles/x64/Release
gdal/
/LandXML2glTF/LandXML/NewSubdivision
*.ilk
*.enc
/LandXML2glTF/LXML2glTF/LXML2glTF.vcxproj.user
/LandXML2glTF/LandXML2glTFDll/bin/x64/Release/LandXML2glTFDll.dll
LandXML2glTF/build/ALL_BUILD.vcxproj
LandXML2glTF/build/ALL_BUILD.vcxproj.filters
LandXML2glTF/build/cmake_install.cmake
LandXML2glTF/build/CMakeCache.txt
LandXML2glTF/build/INSTALL.vcxproj
LandXML2glTF/build/INSTALL.vcxproj.filters
LandXML2glTF/build/LANDXML2GLTF.sln
LandXML2glTF/build/ZERO_CHECK.vcxproj
LandXML2glTF/build/ZERO_CHECK.vcxproj.filters
LandXML2glTF/build/3rdparty/GLTFSDK/ALL_BUILD.vcxproj
LandXML2glTF/build/3rdparty/GLTFSDK/ALL_BUILD.vcxproj.filters
LandXML2glTF/build/3rdparty/GLTFSDK/cmake_install.cmake
LandXML2glTF/build/3rdparty/GLTFSDK/GLTFSDK.sln
LandXML2glTF/build/3rdparty/GLTFSDK/INSTALL.vcxproj
LandXML2glTF/build/3rdparty/GLTFSDK/INSTALL.vcxproj.filters
LandXML2glTF/build/3rdparty/GLTFSDK/CMakeFiles/generate.stamp
LandXML2glTF/build/3rdparty/GLTFSDK/CMakeFiles/generate.stamp.depend
LandXML2glTF/build/3rdparty/GLTFSDK/GLTFSDK/cmake_install.cmake
LandXML2glTF/build/3rdparty/GLTFSDK/GLTFSDK/GLTFSDK.vcxproj
LandXML2glTF/build/3rdparty/GLTFSDK/GLTFSDK/GLTFSDK.vcxproj.filters
LandXML2glTF/build/3rdparty/GLTFSDK/GLTFSDK/INSTALL.vcxproj
LandXML2glTF/build/3rdparty/GLTFSDK/GLTFSDK/INSTALL.vcxproj.filters
LandXML2glTF/build/3rdparty/GLTFSDK/GLTFSDK/CMakeFiles/generate.stamp
LandXML2glTF/build/3rdparty/GLTFSDK/GLTFSDK/CMakeFiles/generate.stamp.depend
LandXML2glTF/build/3rdparty/GLTFSDK/GLTFSDK/GLTFSDK.dir/Debug/GLTFSDK.lib.recipe
LandXML2glTF/build/CMakeFiles/cmake.check_cache
LandXML2glTF/build/CMakeFiles/CMakeConfigureLog.yaml
LandXML2glTF/build/CMakeFiles/generate.stamp
LandXML2glTF/build/CMakeFiles/generate.stamp.depend
LandXML2glTF/build/CMakeFiles/generate.stamp.list
LandXML2glTF/build/CMakeFiles/TargetDirectories.txt
LandXML2glTF/build/CMakeFiles/0eb50e1cf9a504183d92f0b0bb4947a5/generate.stamp.rule
LandXML2glTF/build/CMakeFiles/0eb50e1cf9a504183d92f0b0bb4947a5/INSTALL_force.rule
LandXML2glTF/build/CMakeFiles/18015527c6155b93954a1a48bb60a155/SchemaJson.h.rule
LandXML2glTF/build/CMakeFiles/1bbbac928db4e415c3c818a6fdf579e6/INSTALL_force.rule
LandXML2glTF/build/CMakeFiles/26311f949ba7f6ad9b4f36ce6299eda0/INSTALL_force.rule
LandXML2glTF/build/CMakeFiles/3.27.7/CMakeCCompiler.cmake
LandXML2glTF/build/CMakeFiles/3.27.7/CMakeCXXCompiler.cmake
LandXML2glTF/build/CMakeFiles/3.27.7/CMakeDetermineCompilerABI_C.bin
LandXML2glTF/build/CMakeFiles/3.27.7/CMakeDetermineCompilerABI_CXX.bin
LandXML2glTF/build/CMakeFiles/3.27.7/CMakeRCCompiler.cmake
LandXML2glTF/build/CMakeFiles/3.27.7/CMakeSystem.cmake
LandXML2glTF/build/CMakeFiles/3.27.7/VCTargetsPath.txt
LandXML2glTF/build/CMakeFiles/3.27.7/VCTargetsPath.vcxproj
LandXML2glTF/build/CMakeFiles/3.27.7/CompilerIdC/CMakeCCompilerId.c
LandXML2glTF/build/CMakeFiles/3.27.7/CompilerIdC/CompilerIdC.vcxproj
LandXML2glTF/build/CMakeFiles/3.27.7/CompilerIdC/Debug/CompilerIdC.exe.recipe
LandXML2glTF/build/CMakeFiles/3.27.7/CompilerIdCXX/CMakeCXXCompilerId.cpp
LandXML2glTF/build/CMakeFiles/3.27.7/CompilerIdCXX/CompilerIdCXX.vcxproj
LandXML2glTF/build/CMakeFiles/3.27.7/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
LandXML2glTF/build/CMakeFiles/3.27.7/x64/Debug/VCTargetsPath.recipe
LandXML2glTF/build/CMakeFiles/633b7eed7347a74a6b7d958139304b77/INSTALL_force.rule
LandXML2glTF/build/CMakeFiles/6ecdb6026b259b60a524fbd8b7f44cb3/INSTALL_force.rule
LandXML2glTF/build/Debug/LandXML2GLTFDLL.dll
LandXML2glTF/build/GeneratedFiles/SchemaJson.h
LandXML2glTF/build/LXML2glTF/ALL_BUILD.vcxproj
LandXML2glTF/build/LXML2glTF/ALL_BUILD.vcxproj.filters
LandXML2glTF/build/LXML2glTF/cmake_install.cmake
LandXML2glTF/build/LXML2glTF/INSTALL.vcxproj
LandXML2glTF/build/LXML2glTF/INSTALL.vcxproj.filters
LandXML2glTF/build/LXML2glTF/LXML2GLTF.sln
LandXML2glTF/build/LXML2glTF/LXML2GLTF.vcxproj
LandXML2glTF/build/LXML2glTF/LXML2GLTF.vcxproj.filters
LandXML2glTF/build/LXML2glTF/CMakeFiles/generate.stamp
LandXML2glTF/build/LXML2glTF/CMakeFiles/generate.stamp.depend
LandXML2glTF/build/LXML2glTF/LXML2GLTF.dir/Debug/LXML2GLTF.exe.recipe
LandXML2glTF/build/LandXML2glTFDll/ALL_BUILD.vcxproj
LandXML2glTF/build/LandXML2glTFDll/ALL_BUILD.vcxproj.filters
LandXML2glTF/build/LandXML2glTFDll/cmake_install.cmake
LandXML2glTF/build/LandXML2glTFDll/INSTALL.vcxproj
LandXML2glTF/build/LandXML2glTFDll/INSTALL.vcxproj.filters
LandXML2glTF/build/LandXML2glTFDll/LandXML2GLTFDLL.sln
LandXML2glTF/build/LandXML2glTFDll/LandXML2GLTFDLL.vcxproj
LandXML2glTF/build/LandXML2glTFDll/LandXML2GLTFDLL.vcxproj.filters
LandXML2glTF/build/LandXML2glTFDll/CMakeFiles/generate.stamp
LandXML2glTF/build/LandXML2glTFDll/CMakeFiles/generate.stamp.depend
LandXML2glTF/build/LandXML2glTFDll/LandXML2GLTFDLL.dir/Debug/LandXML2GLTFDLL.dll.recipe
LandXML2glTF/build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
LandXML2glTF/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
