################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.dll
*.pdb
*.exp
*.obj
*.lib
*.exe
*.pri
*.pdb
*.log
*.tlog
/glTF-Sample-Models-master
/glTF-SDK-master
/COLLADA2GLTF


/LandXML2glTF/LandXML2glTFDll/bin/x64/Debug/LandXML2glTFDllD.dll
/LandXML2glTF/LandXML2glTFDll/bin/x64/Debug/LandXML2glTFDllD.pdb
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDllD.ilk
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/vc143.idb
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/embed/embed.resfiles
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/embed/embed.resfiles.intermediate
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.tlog/CL.command.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.tlog/CL.read.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.tlog/CL.write.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.tlog/unsuccessfulbuild
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/excluded.layout.resfiles
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/excluded.layout.resfiles.intermediate
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/filtered.layout.resfiles
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/filtered.layout.resfiles.intermediate
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.dll.recipe
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.iobj
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.ipdb
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.vcxproj.FileListAbsolute.txt
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/MultipleQualifiersPerDimensionFound.txt
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/pri.resfiles
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/pri.resfiles.intermediate
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/priconfig.xml
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/priconfig.xml.intermediate
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/qualifiers.txt
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/qualifiers.txt.intermediate
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/resources.resfiles
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/resources.resfiles.intermediate
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/unfiltered.layout.resfiles
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/unfiltered.layout.resfiles.intermediate
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/vc143.pdb
/LandXML2glTF/LXML2glTF/bin/x64/Debug/LandXML2glTFDllD.dll
/LandXML2glTF/LXML2glTF/bin/x64/Debug/LXML2glTF.exe
/LandXML2glTF/LXML2glTF/bin/x64/Debug/LXML2glTF.pdb
/LandXML2glTF/LXML2glTF/int/x64/Release/LXML2glTF.exe.recipe
/LandXML2glTF/LXML2glTF/int/x64/Release/LXML2glTF.iobj
/LandXML2glTF/LXML2glTF/int/x64/Release/LXML2glTF.ipdb
/LandXML2glTF/LXML2glTF/int/x64/Debug/LXML2glTF.tlog/link.read.1.tlog
/LandXML2glTF/LXML2glTF/int/x64/Debug/LXML2glTF.exe.recipe
/LandXML2glTF/LXML2glTF/int/x64/Debug/LXML2glTF.ilk
/LandXML2glTF/LXML2glTF/int/x64/Debug/LXML2glTF.vcxproj.FileListAbsolute.txt
/LandXML2glTF/LXML2glTF/int/x64/Debug/vc143.idb
/LandXML2glTF/.vs/LandXML2glTF
/LandXML2glTF/LandXML2glTFDll/bin/x64/Debug/LandXML2glTFDllD.dll
/LandXML2glTF/LandXML2glTFDll/bin/x64/Debug/LandXML2glTFDllD.exp
/LandXML2glTF/LandXML2glTFDll/bin/x64/Debug/LandXML2glTFDllD.lib
/LandXML2glTF/LandXML2glTFDll/bin/x64/Debug/LandXML2glTFDllD.pdb
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/CL.command.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/Cl.items.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/CL.read.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/CL.write.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/LandXML2glTFDll.read.1u.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/LandXML2glTFDll.write.1u.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/link.command.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/link.read.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug/LandXML2glTFDll.tlog/link.write.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.tlog/CL.command.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.tlog/CL.read.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.tlog/CL.write.1.tlog
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/LandXML2glTFDll.tlog/unsuccessfulbuild
/LandXML2glTF/LandXML2glTFDll/int/x64/Release/vc143.pdb
/LandXML2glTF/LXML2glTF/bin/x64/Debug/LandXML2glTFDllD.dll
/LandXML2glTF/LXML2glTF/bin/x64/Debug/LXML2glTF.exe
/LandXML2glTF/LXML2glTF/bin/x64/Debug/LXML2glTF.pdb
/LandXML2glTF/LandXML2glTFDll/int/x64/Debug
/LandXML2glTF/LXML2glTF/int/x64/Release
/LandXML2glTF/OLD_LandXML2glTFDll
/LandXML2glTF/LXML2glTF/bin/x64
/LandXML2glTF/XCopyFiles/x64/Debug
/LandXML2glTF/XCopyFiles/x64/Release
gdal/
/LandXML2glTF/LandXML/NewSubdivision
*.ilk
*.enc
/LandXML2glTF/LXML2glTF/LXML2glTF.vcxproj.user
